<div class="grid-contacts-container" ng-controller="ContactsCtrl">
    <h4 style="color: maroon" ng-bind="message">&nbsp;</h4> <!--Message will be displayed-->
    <table class="table">
        <thead>
        <tr>
            <th ng-repeat="field in fields" ng-bind="field | labelCase"></th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts">
            <td ng-repeat="(key, value) in contact" ng-bind="value"></td>
            <td ng-click="editContact(contact)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
            <td ng-click="deleteContact(contact)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tr>
        </tbody>
    </table>
    <!--<contact-form  name="contacts"></contact-form>-->   <!-- To get custom directive-->
</div>